body {
  /* line height to 1.5 times the font size */
  font: 100%/1.5 system-ui;

  /* stop the content from getting too wide */
  max-width: 100ch;

  /* center it */
  margin-inline: auto;
}

body {
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: max(1em, (100% - 100ch) / 2);
}

img {
  max-width: 100%;
  height: auto;
}

html {
  --color-accent: oklch(72.358% 0.14107 3.004);   /* warm soft pink */
  /*--color-accent: oklch(78% 25% 180);   /* seafoam green-blue */
  /*--color-accent: oklch(70% 30% 275);   /* periwinkle */
  accent-color: var(--color-accent);
}

nav {
  display: flex;
  margin-bottom: 1em;
  border-bottom: 1px solid oklch(80% 3% 200);
}

nav a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
}

nav a.current {
  border-bottom: 0.4em solid oklch(80% 3% 200);
  padding-bottom: 0.1em;
}

/* Keep this AFTER nav a.current so it wins when you hover the current page */
nav a:hover {
  border-bottom: 0.4em solid var(--color-accent);
  padding-bottom: 0.1em;
  background-color: oklch(from var(--color-accent) 98% 4% h);
}

input,
textarea,
button {
  font: inherit;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

label {
  display: block;
  margin-block: 1em;
}

textarea {
  resize: vertical;   /* only let people resize up and down */
}

input:focus,
textarea:focus {
  outline: 2px solid var(--color-accent);
}

